.cart-list-container {
    color: rgb(52, 73, 94);
    margin: 5% 15% 2% 15%;
    border-top: none;
}

.cart-brief-button1 {
    background-color: rgb(52, 73, 94);
    color: rgb(241,196,15);
    font-weight: lighter;
    width: 22%;
    height: 2em;
    font-size: 0.9em;
    margin-top: 5%;

}

.cart-brief-button2 {
    background-color: rgb(52, 73, 94);
    color: rgb(241,196,15);
    font-weight: lighter;
    margin-left: 39%;
    width: 12%;
    height: 2em;
    font-size: 0.9em;
    margin-top: 9%;
}

.cart-brief-form {
    display: flex;
    flex-direction: column;
    margin-top: 6%;
    padding: 3em;
    border: solid 1px rgb(52, 73, 94);
    border-radius: 20px;
    width: 50%;
}

input {
    width: 50%;
    margin: 0.5em 0 2em 0;
}

.cart-brief-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}