.item-detail {
    border: 1px solid rgb(52, 73, 94);;
    border-radius: 5px;
    height: 400px;
    width: 280px;
    display: flex;
    flex-direction: column;
    color: rgb(52, 73, 94);;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-detail-header {
    height: 15%;
    font-size: 0.5em;
    border-bottom: 1px solid rgb(52, 73, 94);
    background-color: lightskyblue;
}

.item-detail-body {
    height: 70%;
    padding: 10%;
    background-color: lightgrey;
}

.item-detail-footer {
    height: 15%;
    font-weight: bold;
    color: rgb(52, 73, 94);;
    border-top: 1px solid rgb(52, 73, 94);
    background-color: lightskyblue;
}

button {
    background-color: transparent;
    border: 0.5px solid rgb(52, 73, 94);
    border-radius: 5px;
    color: rgb(52, 73, 94);
    font-weight: bold;
}